<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Vue.Js Tutorial
        </title>
        <script src="https://unpkg.com/vue">
        </script>
    </head>
    <body>
    	<div id="app">
	        <div>
	        	<p>{{ message }}</p>
	        	<button @click="greet">Click Me</button>

	        </div>
	        <div>
	        	<p>Cars</p>
	        	<button @click="newCar">New Car</button>
	        	<button @click="cars=[]">Clear</button>
	        	<ol v-if="cars.length > 0">
	        		<li v-for="c in cars">
	        			<h2>{{ c }}</h2>
	        			<!-- <h3>Extra stuff</h3> -->
	        		</li>
	        	</ol>
	        	<p v-else>No car available</p>
	        </div>
    	</div>
        <script type="text/javascript">
            let app = new Vue({
				el: '#app',
				data: {
					message: "Hello World",
					cars: ["Audi", "Toyota", "Nishan"]
				},
				methods: {
					greet: function(){
						let name = prompt('Please enter a name:');
						this.message = "Welcome to Vue tutorial, " + name;
					},
					newCar: function(){
						let car = prompt("Please enter car name:");
						this.cars.push(car);

					}
				}
			});
        </script>
    </body>
</html>